<div class="budget-container">
    <div class="budget-header">
        <h2>Budget Overview</h2>
        <button class="add-button" [routerLink]="['/budget/new']">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
            </svg>
            Add Budget
        </button>
    </div>

    <!-- This will display the BudgetAddComponent -->
    <router-outlet></router-outlet>

    <div class="budget-summary-container">
        <!-- Monthly Summary -->
        <div class="summary-card">
            <p class="summary-text">Total Allocated: <span class="summary-value">${{ getTotalAllocated() }}</span></p>
            <p class="summary-text">Total Spent: <span class="summary-value">${{ getTotalSpent() }}</span></p>
            <p class="summary-text remaining" [ngClass]="{'negative': getTotalRemaining() < 0, 'positive': getTotalRemaining() >= 0}">
                Remaining Budget: <span class="summary-value">${{ getTotalRemaining() }}</span>
            </p>
        </div>

        <div class="budget-grid">
            <div *ngFor="let budget of budgets" class="budget-card">
                <div class="budget-header">
                    <h3 class="budget-title" [style.color]="budget.color">{{ budget.categoryId.name }}</h3>
                </div>
                <div class="budget-details">
                    <p class="budget-info">Spent: <span>${{ budget.spent }}</span></p>
                    <p class="budget-remaining" [ngClass]="{'negative': budget.remaining < 0, 'positive': budget.remaining >= 0}">
                        Remaining: <span>${{ budget.remaining }}</span>
                    </p>
                </div>

                <div class="progress-container">
                    <div class="progress-bar" [ngStyle]="{ 'width': getProgress(budget.spent, budget.allocated) + '%', 'background': budget.color }"></div>
                </div>
            </div>
        </div>
    </div>
</div>
