.dashboard-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: auto auto auto; /* 2 rows */
    gap: 10px; /* Spacing between grid items */
    padding: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    height: 209px;
}

.circle {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    opacity: 0.6;
}

.bottom-right {
    bottom: -70px;
    right: -80px;
}

.top-right {
    top: -70px;
    right: -80px;
    width: 300px;
    height: 250px;
}

.dashboard-box p {
    position: relative;
    z-index: 2;
}

.box-content {
    position: relative;
    z-index: 2;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    grid-column: 1 / -1;
    grid-row: 3;
}

.divider {
    color: white;
    grid-column: 1 / -1;
    grid-row: 2;
}

.view-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: end; /* Align the button to the end of the grid column */
    position: relative;
    z-index: 2;
}

.view-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.divider {
    width: 100%;
    border: 0;
    border-top: 1px solid white;
    margin: 10px 0;
}

@media (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ensure full viewport height */
        margin: 0; /* Remove default margin */
    }

    .dashboard-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 90%;
        padding: 15px;
        font-size: 18px;
        height: auto;
        width: 95%;
        margin: 0 auto;
    }

    .view-button {
        width: 100%;
        max-width: 200px;
    }
}
